.clrBtn
{
	position: relative;
    width: 30px;
    height: 30px;
    border-radius: 40px;
    top:3%;
    margin: auto;
}
.clrBtn:hover
{
	cursor: pointer;
}
#green
{
	background-color: ;
	top: 5%;
}
#blue
{
	background-color: ;
	top: 10%;
}
#red
{
	background-color: ;
	top: 15%;
}
#yellow
{
	background-color: ;
	top: 20%;
}
#orange
{
	background-color: ;
	top: 25%;
}
#black
{
	background-color: ;
	top: 25%;
}
#white
{
	top: 30%;
}
.icon
{
	color: white;
}
.brushSizeBox
{
	width: 40%;
	border-radius: 5px;
}
.brushSize
{
	top: 35%;
	position: relative;
    margin-left: 20%;
}
.brandicon
{
	width: 75px;
    height: auto;
    margin-left: 20%
}
.dl
{
	color: white;
	position: relative;
    width: 30px;
    height: 30px;
    top:40%;
    margin: auto;
}
.newBtn
{
	background-color: transparent;
	border: none;
	color: white;
}